        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f0f4f8;
        }
        
        .card {
            transition: all 0.3s ease;
        }
        
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
        
        .print-button {
            transition: all 0.2s ease;
        }
        
        .print-button:hover {
            background-color: #1e40af;
        }
        
       @media print {
    .no-print {
        display: none;
    }
    
    body {
        background-color: white;
    }
    
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }

    input, select {
        border: none !important;
    }

    .input-container {
        border: none !important;
    }

    /* Evitar quebra de página dentro das tabelas */
    table {
        page-break-inside: avoid;
    }

    /* Quebra de página para as seções de gráficos e tabelas */
    .pedidos-loja,
    .devolucoes-loja,
    .detalhamento-loja,
    .detalhamento-cnpj {
        page-break-before: always;
    }

    /* Forçar quebra de linha após gráficos */
    .h-80 {
        page-break-after: always;
    }

}

        
        input:focus, select:focus {
            outline: none;
            border-color: #3b82f6;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
        }
        
        .input-container {
            transition: all 0.2s ease;
        }
        
        .input-container:focus-within {
            border-color: #3b82f6;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
        }
        
        .tooltip {
            position: relative;
            display: inline-block;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            margin-left: -100px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        
